*{
    margin: 0;
    padding : 0;
    box-sizing: border-box;
    /* background-image: url(../image/password.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: auto; */
    text-transform: capitalize;
    color:white;
    background-color: rgb(5, 5, 39);
}
.copy{
    border-radius: 30%;
}
.container{
    align-items: center;
    justify-content: center;
    margin: 12%;
    max-width: 700px;
}
.display{
    width: 70%;

    background: #fff;
    color: #333;
     display: flex;  
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-radius:10px ;
}
.display  img{
    cursor: pointer;
}
.display input{
    border: 0;
    outline: 0;
    font-size: 24px ;
}
h1,h2{
    color:white;
}
button{
    background: #fff;
    color: black;
    border: 0;
    outline: 0;
    padding: 3px;
}
button:hover{
    background-color: black;
    color: white;
}
@media(max-width:700px){
    .display{
        width:100%;
    }
    *{
        font-size: medium;
    }
}
@media(max-width:456px){
    .display{
        width:90%;
    }
    .display input{
        width:90%;
    }
    *{
        font-size: small;
    }
}